/* ==== Mixins ==== */

/* FONTS */

/* BOX */

/* CENTER BLOCK */

/* VERTICAL CENTERING */

/* HORIZONTAL CENTERING */

/* BOTH CENTERING */

/* MEDIA QUERIES FOR MOBILE-FIRST DESIGN */

/* MEDIA QUERIES FOR MOBILE-FIRST DESIGN */

/* ==== Fonts ==== */

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/OpenSans.eot");
  src: url("../../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSans.woff") format("woff"), url("../../fonts/OpenSans.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Roboto.eot");
  src: url("../../fonts/Roboto.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto.woff") format("woff"), url("../../fonts/Roboto.ttf") format("truetype");
}

/* ==== Variables ==== */

/* ==== Main Page ==== */

html {
  width: 100%;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: OpenSans, sans-serif;
}

a {
  text-decoration: none;
}

a:active {
  color: unset;
}

.btn-custom {
  background: #e7f743;
  border-color: #e7f743;
  color: #000;
  font-size: 1.5rem;
}

.btn-custom:hover {
  background: #f7d943;
  border-color: #f7d943;
  color: #000;
}

.btn-custom:focus {
  box-shadow: 0 0 0 0.2rem rgba(207, 179, 139, 0.5);
}

header {
  color: #acacb6;
  background: #18181a;
}

.header {
  background: #18181a;
  padding: 20px 0;
}

.header-bottom {
  padding: 0 0 20px 0;
}

.header-nav {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

.header-nav ul {
  list-style: none;
}

.header-nav ul li {
  display: inline;
  margin-right: 10px;
}

.header-nav ul li a,
.header-nav ul li a:not([href]) {
  color: #acacb6;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
}

.header-nav ul li a i,
.header-nav ul li a:not([href]) i {
  color: #484849;
  transition: all 0.4s;
}

.header-nav ul li a:hover,
.header-nav ul li a:not([href]):hover {
  color: #e7f743;
}

.header-nav ul li a:hover i,
.header-nav ul li a:not([href]):hover i {
  color: #e7f743;
}

.header-contacts {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
}

.header-contacts li {
  display: inline;
  margin-right: 5px;
}

.header-contacts li:not(:last-child):after {
  content: "|";
  color: #acacb6;
  font-weight: bold;
  margin-left: 15px;
}

.header-contacts li a {
  color: #fff;
  text-transform: uppercase;
  transition: all 0.4s;
}

.header-contacts li a:hover {
  color: #e7f743;
}

.main-cover {
  color: #fff;
  overflow: hidden;
  min-height: 1946px;
  position: relative;
  z-index: 1;
  background: url("../../img/building.jpg") no-repeat center;
  background-size: cover;
}

.main-cover h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  font-family: Roboto, sans-serif;
}

.main-cover h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 15px;
  font-family: Roboto, sans-serif;
}

.main-cover button {
  display: block;
  margin: 15px auto;
}

.main-char {
  background: #191d24;
  color: #fff;
  padding: 30px 0;
}

.main-char .char {
  display: flex;
  flex-wrap: nowrap;
}

.main-char .char-card {
  width: 50%;
}

.main-char .char-card--right {
  text-align: right;
}

.main-char .char-card h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.main-char .char-card table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.75rem;
}

.main-char .char-card table tr {
  border-bottom: 1px solid #484849;
}

.main-char .char-card table tr td {
  padding: 20px 10px 20px 10px;
}

.main-news {
  background: #e2e2e2;
  padding: 30px 0;
}

.main-news h2 {
  text-align: center;
  font-size: 2.5rem;
}

.main .member {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main .member-card {
  padding: 15px;
  margin: 15px;
  width: calc(25% - 30px);
}

.main .member-card__link:hover > .member-card__image {
  filter: grayscale(0);
  opacity: 1;
}

.main .member-card__image {
  opacity: 0.55;
  transition: all 0.4s;
  filter: grayscale(100%);
  width: 100%;
}

.main-part {
  background: #e2e2e2;
  color: #000;
  padding: 30px 0;
}

.main-part h2 {
  text-align: center;
}

.main-foot {
  background: #2f2f2f;
}

.main-foot__text {
  padding: 20px;
}

.main-foot__text a {
  color: #fff;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

footer {
  background: #18181a;
}

footer a {
  color: #fff;
}

.footer {
  color: #acacb6;
  padding: 40px 0;
  text-transform: uppercase;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.footer img {
  width: auto;
}

.footer p {
  margin-top: 10px;
}

.footer-contacts {
  font-size: 0.7rem;
}

.footer-contacts ul {
  list-style: none;
}

.footer-contacts ul li {
  display: inline;
  margin-right: 10px;
  margin-bottom: 15px;
}

.footer-contacts ul li a,
.footer-contacts ul li a:not([href]) {
  color: #acacb6;
  font-size: 1.5rem;
}

.footer-contacts ul li a i,
.footer-contacts ul li a:not([href]) i {
  color: #484849;
  transition: all 0.4s;
}

.footer-contacts ul li a:hover i,
.footer-contacts ul li a:not([href]):hover i {
  color: #e7f743;
}

.footer-list {
  font-size: 0.75rem;
}

.footer-list ul {
  list-style: none;
}

.footer-list ul li {
  display: block;
  margin-bottom: 15px;
}

.footer-list ul li a,
.footer-list ul li a:not([href]) {
  color: #fff;
  text-transform: uppercase;
  transition: all 0.4s;
}

.footer-list ul li a span,
.footer-list ul li a:not([href]) span {
  color: #acacb6;
  margin-left: 5px;
  transition: all 0.4s;
}

.footer-list ul li a:hover,
.footer-list ul li a:not([href]):hover {
  color: #e7f743;
}

.footer-list ul li a:hover span,
.footer-list ul li a:not([href]):hover span {
  color: #e7f743;
}

.contacts-banner {
  color: #fff;
  overflow: hidden;
  min-height: 400px;
  position: relative;
  z-index: 1;
  background: url("../../img/contacts_banner.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 20px;
}

.contacts-banner a {
  color: #fff;
}

.contacts-banner hr {
  display: block;
  width: 15em;
  border-color: #fff;
  margin: 30px auto;
}

.contacts-banner h1 {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}

.contacts-banner-phone {
  margin-bottom: 30px;
  display: block;
  list-style: none;
  text-align: center;
}

.contacts-banner-phone li {
  display: block;
  margin-bottom: 10px;
}

.contacts-banner-social {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  list-style: none;
}

.contacts-person {
  margin-bottom: 20px;
}

.contacts-person .person {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.contacts-person .person-card {
  flex: 0 1 calc(20% - 10px);
}

.contacts-person .person-card__image {
  border-radius: 8em;
  height: 8em;
  width: 8em;
  display: block;
  margin: 10px auto;
}

.contacts-person .person-card__title {
  color: #000;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.contacts-person .person-card__text {
  color: #484849;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
}

.contacts-person .person-card__phone {
  color: #000;
  font-size: 0.75rem;
  text-align: center;
}

.contacts-person .person-card__email {
  color: #484849;
  font-size: 0.75rem;
  text-align: center;
}

.contacts-location {
  margin-bottom: 20px;
  margin-top: 10em;
}

.contacts-location h2 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.contacts-location p {
  font-size: 0.75rem;
  text-align: center;
}

.conference-title h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.conference-title hr {
  border-color: #acacb6;
  display: block;
  margin: 20px auto;
  width: 50%;
}

.conference-content {
  margin: 20px 0;
}

.conference-content button {
  display: block;
  margin: 20px auto;
}

.hall {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 60px 0;
}

.hall-card {
  height: 300px;
  padding: 20px;
  background-image: var(--background);
  background-position: center;
  margin: 0 15px;
  width: 100%;
}

.hall-card a:hover {
  text-decoration: none;
}

.hall-card p {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  text-shadow: #000 2px 2px;
}

.news {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.news-container {
  background: #fff;
  padding: 15px;
}

.news-container h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  color: #000;
  margin-bottom: 30px;
}

.news-container p {
  font-size: 1.3rem;
  color: #000;
}

.news-container a {
  text-decoration: underline;
  color: #000;
}

.news-container-date {
  display: block;
  font-size: 1.5rem;
  color: #18181a;
  text-align: right;
}

.news-container-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.news-container-row img {
  width: 100%;
  max-width: 500px;
  height: 100%;
}

.news-container-row p {
  margin-left: 30px;
}

.news-container-links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  font-size: 1.5rem;
}

.news-container-links__item {
  margin-right: 15px;
}

.news-card {
  width: 30%;
}

.news-card a {
  color: #000;
  display: block;
}

.news-card a:hover {
  text-decoration: none;
}

.news-card a:hover > .news-card__image {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  bottom: 5px;
}

.news-card__image {
  position: relative;
  bottom: 0;
  transition: all 0.4s;
  width: 100%;
}

.news-card__title {
  font-size: 1.5rem;
  margin-top: 15px;
}

.news-card__text {
  font-size: 0.75rem;
  margin-top: 15px;
}

.news-title h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.news-title h2 {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
}

.news-title hr {
  border-color: #acacb6;
  display: block;
  margin: 20px auto;
  width: 50%;
}

.news-content .news {
  flex-wrap: wrap;
}

.news-content .news-card {
  margin: 15px;
  width: calc(50% - 30px);
}

.infra-title h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.infra-title h2 {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
}

.infra-title hr {
  border-color: #acacb6;
  display: block;
  margin: 20px auto;
  width: 50%;
}

.infra-content {
  background: #fff;
  padding: 15px;
  margin: 20px 0;
}

.room {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.room-card {
  border: 1px solid black;
  padding: 15px;
  width: calc(30% - 15px);
  margin-bottom: 30px;
}

.room-card-long {
  width: calc(70% - 15px);
}

.room-card a:hover {
  text-decoration: none;
}

.room-card__title {
  text-shadow: #000 2px 2px;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
}

.room-card__text {
  text-shadow: #000 2px 2px;
  font-size: 0.75rem;
  color: #fff;
}

.rent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rent-card {
  margin-bottom: 30px;
}

.rent-card__title {
  font-size: 0.75rem;
  color: #000;
  font-weight: bold;
}

.rent-card__text {
  font-size: 0.75rem;
  color: #acacb6;
}

.rent-card__image {
  height: 200px;
  width: 300px;
}

.rent-card__image img {
  width: 100%;
}

.rent-card__btn a {
  width: 100%;
}

.rent-title h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.rent-title hr {
  border-color: #acacb6;
  display: block;
  margin: 20px auto;
  width: 50%;
}

.rent-content {
  background: #fff;
  padding: 15px;
  margin: 20px 0;
}

/* ==== Adaptive ==== */

/* === PHONE === */

@media (max-width: 1200px) {
  body,
  html {
    width: 100%;
    height: 100%;
  }

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    overflow-x: hidden;
  }

  .header-nav {
    justify-content: center;
    text-align: center;
  }

  .header-nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header-contacts {
    flex-wrap: wrap;
  }

  .header-contacts li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .header-contacts li:not(:last-child):after {
    content: unset;
  }

  .main-char .char {
    flex-wrap: wrap;
  }

  .main-char .char-card {
    width: 100%;
  }

  .main-char .char-card img {
    display: block;
    margin: 20px auto 0 auto;
    width: 50%;
  }

  .main-char .char-card table {
    width: 100%;
  }

  .main-news .news {
    flex-wrap: wrap;
  }

  .main-news .news-card {
    width: 100%;
  }

  .main-cover {
    min-height: 546px;
  }

  .main h1 {
    font-size: 1.5rem;
  }

  .main h2 {
    font-size: 1.5rem;
  }

  .main .member {
    flex-wrap: wrap;
  }

  .main .member-card {
    width: 100%;
  }

  .footer {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* === PAD === */