.news {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  &-container {

    background: $bg_light;
    padding: 15px;

    h1 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: $font_h1;
      color: $bg_dark;
    }

    p {
      font-size: $font_h2;
      color: $bg_dark;
    }

    a {
      text-decoration: underline;
      color: $bg_dark;
    }

    &-date {
      display: block;
      font-size: $font_h2;
      color: $bg-primary;
      text-align: right;
    }

    &-row {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;

      img {
        width: 100%;
        max-width: 500px;
        height: 100%;
      }

      p {
        margin-left: 30px;
      }

    }

    &-links {

      display: flex;
      flex-wrap: nowrap;
      justify-content: left;
      font-size: $font_h2;

      &__item {
        margin-right: 15px;
      }

    }

  }

  &-card {

    width: calc(30%);

    a {
      color: $bg-dark;
      display: block;

      &:hover {
        text-decoration: none;

        & > .news-card__image {
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          bottom: 5px;
        }

      }

    }

    &__image {
      position: relative;
      bottom: 0;
      transition: all .4s;
      width: 100%;
    }

    &__title {
      font-size: $font-h2;
      margin-top: 15px;
    }

    &__text {
      font-size: $font-h3;
      margin-top: 15px;
    }

  }

}

.news {

  &-title {

    h1 {
      text-align: center;
      margin: 20px 0;
      font-size: $font-h1;
      font-weight: bold;
    }

    h2 {
      text-align: center;
      margin: 20px 0;
      font-size: $font-h2;
    }

    hr {
      border-color: $clr-primary;
      display: block;
      margin: 20px auto;
      width: 50%;
    }

  }

  &-content {

    .news {
      flex-wrap: wrap;

      &-card {
        margin: 15px;
        width: calc(50% - 30px);
      }

    }

  }

}

