
.rent {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-card {

    margin-bottom: 30px;

    &__title {
      font-size: $font_h3;
      color: $bg_dark;
      font-weight: bold;
    }

    &__text {
      font-size: $font_h3;
      color: $clr-primary;
    }

    &__image {

      height: 200px;
      width: 300px;

      img {
        width: 100%;
      }
    }

    &__btn {

      a {
        width: 100%;
      }
    }

  }

  &-title {

    h1 {
      text-align: center;
      margin: 20px 0;
      font-size: 2.5rem;
      font-weight: bold;
    }

    hr {
       border-color: $clr-primary;
       display: block;
       margin: 20px auto;
       width: 50%;
    }

  }

  &-content {
    background: $bg_light;
    padding: 15px;
    margin: 20px 0;
  }

}