<main>

    <div class="container">
        <div class="header-search">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <a href="#">SUBMIT YOUR PRESS RELEASE</a>
                </div>
                <div class="col-lg-6 col-12">
                    <form action="search.php" method="post">
                        <input type="text" placeholder="Search keyword here">
                        <select name="categories" id="categories" title="All categories">
                            <option value="1">All categories</option>
                        </select>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-12">

                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">BUSINESS & MONEY</li>
                    </ul>
                </nav>
                
                <div class="row">
                    <div class="col-12">
                        <div class="news-content">

                            <div class="news-content-header">
                                <div class="row">
                                    <div class="col-lg-7 col-12">
                                        <div class="news-content-header__date">
                                            <span class="news-content__date">19.12.2023</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-12">
                                        <ul class="share">
                                            <li><span>Share:</span></li>
                                            <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa-regular fa-envelope"></i></a></li>
                                            <li><a href="#"><i class="fa-solid fa-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="news-content__title">
                                <h1>DAMAC’s Cavalli Tower keeps pace with completion</h1>
                            </div>

                            <div class="news-content__image">
                                <img src="img/news/2.jpg" alt="DAMAC’s Cavalli Tower keeps pace with completion">
                            </div>

                            <div class="news-content__description">
                                <p>
                                    DAMAC, a leading luxury real estate developer based in Dubai, announced that construction of the world’s first Cavalli-branded tower is advancing as planned. 
                                </p>

                                <p>
                                    Excavation for the 71-storey tower began in January 2023, before progress was swiftly made on substructure works by April 2023. In August 2023, work began on the superstructure work of the tower located in Dubai Marina, where residents will enjoy unrivalled views of the sea and skyline from the comfort of the tower’s private pools, Malibu Bay-inspired beach and gardens. 
                                </p>
                                
                                <p>
                                    DAMAC also provided a further update on construction, reporting that the superstructure work is well under way and internal as well as external finishing is expected to commence in June 2024. “The work we have already done on Cavalli Tower is impressive, and well in line with our forecasted progress to date,” remarked Mohammed Tahaineh, General Manager of Projects at DAMAC. “The diligent and steadfast work that has contributed to this important milestone, from construction to design is testament to the commitment we have to introduce a new icon to Dubai’s skyline,” he continued. 
                                </p>

                                <p>
                                    The world-class Cavalli Tower is the only one of its kind in the world, with interiors by the legendary Italian fashion house. Situated in Dubai Marina beside the beach, Cavalli Tower promises its residents an exceptional lifestyle bar none. 
                                </p>
                                
                                <p>
                                    The construction update on Cavalli Tower comes soon after DAMAC announces the launch of an equally ultra-exclusive cluster within DAMAC Hills, Utopia. These one-of-a-kind urban resort villas join the organisation’s growing list of luxurious residential and lifestyle endeavours, such as Safa One and Safa Two with Swiss jeweller, de GRISOGONO, DAMAC Tower Nine Elms London with interiors by Versace Home, DAMAC Casa, DAMAC Coral Reef, Volta and more. 
                                </p>
                            </div>

                        </div>

                        <div class="news-footer">
                            <div>
                                <ul class="share">
                                    <li><span>Share:</span></li>
                                    <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa-regular fa-envelope"></i></a></li>
                                    <li><a href="#"><i class="fa-solid fa-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-print"></i></a></li>
                                </ul>
                                
                            </div>
                        </div>

                        <div class="news-comment">
                            <p>Post Your Comment</p>
                            <form action="comment.php" method="post">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <input name="name" type="text" placeholder="Your name">
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <input name="email" type="email" placeholder="Your email">
                                    </div>
                                    <div class="col-12">
                                        <textarea name="comment" id="" cols="30" rows="10" placeholder="Your Comment"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <input type="submit" value="Send">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                
            </div>

            <div class="col-lg-4 col-12">
                <div class="body-side">
                    <div class="body-side-header">
                        <a href="#">Add to redsearabia.com</a>
                    </div>
                    <div class="body-side-main">
                        <ul>
                            <li><a href="#">Add Breaking News</a></li>
                            <li><a href="#">Add Upcoming Event</a></li>
                        </ul>
                    </div>
                </div>
                <div class="body-side">
                    <div class="body-side-header">
                        <a href="#">Services</a>
                    </div>
                    <div class="body-side-main">
                        <ul>
                            <li><a href="#">View all services</a></li>
                            <li><a href="#">Main Sponsor</a></li>
                            <li><a href="#">Page Section Sponsor</a></li>
                            <li><a href="#">Online Banners</a></li>
                            <li><a href="#">Content writing services</a></li>
                            <li><a href="#">Search Engine Optimization (SEO)</a></li>
                            <li><a href="#">Press Releases</a></li>
                            <li><a href="#">Hotel & Restaurant Reviews</a></li>
                            <li><a href="#">Website Design & Development</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

</main>