<footer>
    <div class="container">
        <!-- <div class="row footer-row">
            <div class="col-12">
                <div class="slick-custom">
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                    <div><img src="img/sponsors/hp.jpg" alt="HP"></div>
                </div>
            </div>
        </div> -->

        <div class="row footer-row">
            <div class="col-lg-2 col-6">
                <div class="footer-list-header"><a href="#">NEOM REGION</a></div>
                <div class="footer-list"><ul>
                    <li><a href="#">THE LINE</a></li>
                    <li><a href="#">Sindalah</a></li>
                    <li><a href="#">Trojena</a></li>
                    <li><a href="#">Oxagon</a></li>
                    <li><a href="#">Gulf of Aqaba</a></li>
                    <li><a href="#">Sustainability</a></li>
                    <li><a href="#">Getting there</a></li>
                    <li><a href="#">Reserve your hotel</a></li>
                </ul></div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="footer-list-header"><a href="#">REDSEAGLOBAL</a></div>
                <div class="footer-list"><ul>
                    <li><a href="#">The Red Sea</a></li>
                    <li><a href="#">Amaala</a></li>
                    <li><a href="#">Thuwal</a></li>
                    <li><a href="#">Sustainability</a></li>
                    <li><a href="#">Getting there</a></li>
                    <li><a href="#">Reserve your hotel</a></li>
                </ul></div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="footer-list-header"><a href="#">JEDDAH REGION & SOUTH</a></div>
                <div class="footer-list"><ul>
                    <li><a href="#">Jeddah City</a></li>
                    <li><a href="#">ATaif region</a></li>
                    <li><a href="#">Jazan region</a></li>
                    <li><a href="#">Sustainability</a></li>
                    <li><a href="#">Getting there</a></li>
                    <li><a href="#">Reserve your hotel</a></li>
                </ul></div>
            </div>
            <div class="col-lg-2 col-6">
                <div class="footer-list-header"><a href="#">TOURISM & HOSPITALITY</a></div>
                <div class="footer-list"><ul>
                    <li><a href="#">Breaking News</a></li>
                    <li><a href="#">Upcoming events</a></li>
                    <li><a href="#">Transport & Infrastructure</a></li>
                    <li><a href="#">Sustainability</a></li>
                    <li><a href="#">Reserve your hotel</a></li>
                </ul></div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="footer-list-header">About <a href="redsearabia.com">redsearabia.com</a></div>
                <div class="footer-list"><ul>
                    <li><a href="#">Promotions & advertising</a></li>
                    <li><a href="#">Service offered</a></li>
                    <li><a href="#">Our Profile</a></li>
                    <li><a href="#">Our Clients</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul></div> 
            </div>
        </div>

        <div class="row footer-row">
            <div class="col-lg-6 col-12">
                <div class="footer-logo">
                    <img src="img/logo.png" alt="Logo">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="footer-link">
                    <a class="high-link" href="#">Sign up for newsletter</a>
                </div>
                <div class="footer-socials">
                    <ul class="socials">
                        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="app/plugins/slick/slick.min.js"></script>

<script src="app/js/script.js"></script>

</body>

</html>