<main>

    <div class="container">

        <div class="header-search">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <a href="#">SUBMIT YOUR PRESS RELEASE</a>
                </div>
                <div class="col-lg-6 col-12">
                    <form action="search.php" method="post">
                        <input type="text" placeholder="Search keyword here">
                        <select name="categories" id="categories" title="All categories">
                            <option value="1">All categories</option>
                        </select>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-12">
                
                <div class="row">
                    <div class="col-12">
                        <div class="news">

                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/gulfofaqaba/1.jpg" alt="1"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            13.12.2023
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        NEOM unveils Utamo, immersive destination for art and entertainment.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        An innovative event space to host global artists, Utamo is the latest destination to be announced. Set within a mountain along the Gulf of Aqaba, Utamo combines natural beauty with cutting-edge technology. The theatre area encompasses a multipurpose performance space, VIP lounges, and signature restaurants, setting a global standard for events and artistic installations.
                                    </div>
                                </div>
                            </div>
                            
                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/gulfofaqaba/2.jpg" alt="2"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            29.11.2023
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        NEOM announces exclusive tourism escape Siranna.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        The extraordinary setting of Siranna, accessible only by boat, combines mountain, wadi and a rugged sea coast, offers 100 hotel rooms, fine dining, boutique shops and beach club.
                                    </div>
                                </div>
                            </div>
                            
                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/gulfofaqaba/3.jpg" alt="3"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            15.11.2023
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        NEOM announces luxury coastal tourism – Epicon
                                    </a></div>
                                    <div class="news-card__text-description">
                                        A shimmering sanctuary rising like a mirage from Neom’s desert landscape. Nestled within this zone is the Epicon Hotel, a 55-room marvel, boasting visionary architecture and luxury experiences. A short distance away, the Epicon Resort offers tranquillity with 120 luxury rooms and 45 stunning beach villas, redefining coastal living with private pools and direct beach access.
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/gulfofaqaba/4.jpg" alt="4"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            15.10.2023
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        NEOM announces futuristic wellness retreat – Leyja.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        Leyja builds on Neom’s commitment to ecotourism. Situated between high mountains, Leyja starts from the Gulf of Aqaba coast and winds inland to form a natural valley. Three intelligently designed hotels offer distinct experiences – an active adventure property, a gateway to exploration, and an immersive wellness retreat.
                                    </div>
                                    
                                </div>
                            </div>
                            
                            
                        </div>

                        <!-- <div class="pagination">
                            <span class="inactive">« Previous</span>
                            <a href="#" class="current">1</a>
                            <a href="#" class="paginate">2</a>
                            <a href="#" class="paginate">3</a>
                            <a href="#" class="paginate">Next »</a>
                        </div> -->
                    </div>
                </div>
                
            </div>

            <div class="col-lg-4 col-12">
                <div class="body-side">
                    <div class="body-side-header">
                        <a href="#">Add to redsearabia.com</a>
                    </div>
                    <div class="body-side-main">
                        <ul>
                            <li><a href="#">Add Breaking News</a></li>
                            <li><a href="#">Add Upcoming Event</a></li>
                        </ul>
                    </div>
                </div>
                <div class="body-side">
                    <div class="body-side-header">
                        <a href="#">Services</a>
                    </div>
                    <div class="body-side-main">
                        <ul>
                            <li><a href="#">View all services</a></li>
                            <li><a href="#">Main Sponsor</a></li>
                            <li><a href="#">Page Section Sponsor</a></li>
                            <li><a href="#">Online Banners</a></li>
                            <li><a href="#">Content writing services</a></li>
                            <li><a href="#">Search Engine Optimization (SEO)</a></li>
                            <li><a href="#">Press Releases</a></li>
                            <li><a href="#">Hotel & Restaurant Reviews</a></li>
                            <li><a href="#">Website Design & Development</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
 
    </div>

</main>
