<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>

    <!--bootstrap grid-->
    <link rel="stylesheet" href="app/plugins/bootstrap-grid.min.css">
    <!--fontawesome-->
    <link rel="stylesheet" href="app/plugins/fontawesome/css/all.css">
    <!--custom styles-->
    <link rel="stylesheet" href="app/css/style.css">
    <link rel="stylesheet" href="app/css/home.css">
    <link rel="stylesheet" href="app/css/news.css">
    <link rel="stylesheet" href="app/css/details.css">
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--bootstrap script-->
    <!-- <script src="app/plugins/bootstrap.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="app/plugins/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="app/plugins/slick/slick-theme.css"/>
</head>

<body>

    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-12">
                        <ul>
                            <li>{date}</li>
                            <li><a href="#">Sign In/Sign Up</a></li>
                            <li><a class="high-link" href="advertising.php"><i class="fa fa-bullhorn"></i> Promotions & Advertising</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="header-top-login">
                            <a class="high-link" href="#">Sign up for newsletter</a>
                        </div>
                    </div>  
                    <div class="col-lg-3 col-12">
                        <ul class="socials">
                            <li><a title="twitter" href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a title="facebook" href="#"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a title="instagram" href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>    
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="header-logo">
                        <a href="index.php">
                            <img src="img/logo.png" alt="Logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="nav-menu">
                        <div class="row">
                            <div class="col-lg-8 col-12">
                                <nav class="navigation">
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="neomregion.php" data-href="#tab-1" data-toggle="tab">NEOM REGION</a></li>
                                        <li><a href="#" data-href="#tab-2">REDSEAGLOBAL</a></li>
                                        <li><a href="#" data-href="#tab-3">JEDDAH REGION & SOUTH</a></li>
                                        <li><a href="#" data-href="#tab-4">TOURISM & HOSPITALITY</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="nav-side">
                                    <ul>
                                        <li>NEOM 13 ° C <i class="fa fa-chevron-down"></i></li>
                                        <li><i class="fa fa-search"></i> Search</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab-1">
                                <ul>
                                    <li><a href="#">THE LINE</a></li>
                                    <li><a href="sindalah.php">Sindalah</a></li>
                                    <li><a href="trojena.php">Trojena</a></li>
                                    <li><a href="#">Oxagon</a></li>
                                    <li><a href="gulfofaqaba.php">Gulf of Aqaba</a></li>
                                    <li><a href="#">Sustainability</a></li>
                                    <li><a href="#">Getting there</a></li>
                                    <li><a href="#">Reserve your hotel</a></li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <ul>
                                    <li><a href="#">The Red Sea</a></li>
                                    <li><a href="#">Amaala</a></li>
                                    <li><a href="#">Thuwal</a></li>
                                    <li><a href="#">Sustainability</a></li>
                                    <li><a href="#">Getting there</a></li>
                                    <li><a href="#">Reserve your hotel</a></li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <ul>
                                    <li><a href="#">Jeddah City</a></li>
                                    <li><a href="#">ATaif region</a></li>
                                    <li><a href="#">Jazan region</a></li>
                                    <li><a href="#">Sustainability</a></li>
                                    <li><a href="#">Getting there</a></li>
                                    <li><a href="#">Reserve your hotel</a></li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <ul>
                                    <li><a href="#">Breaking News</a></li>
                                    <li><a href="#">Upcoming events</a></li>
                                    <li><a href="#">Transport & Infrastructure</a></li>
                                    <li><a href="#">Sustainability</a></li>
                                    <li><a href="#">Reserve your hotel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>