<main>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="home-slider">
                    <img src="img/logo.png" alt="logo">
                </div>

                <p class="home-popular-title">
                    <a href="#">TOP STORIES</a>
                </p>

                <div class="home-stories">

                    <div class="home-stories-card">
                        <div class="home-stories-card__image">
                            <img src="img/logo.png" alt="logo">
                        </div>
                        <div class="home-stories-card__text">
                            <div>
                                <span class="home-stories-card__text-date">23.12.2023</span>
                            </div>
                            <div class="home-stories-card__text-title"><a href="#">
                                Al Akaria signs SAR 192M contract for residential complex in Riyadh
                            </a></div>
                            <div class="home-stories-card__text-description">
                                Saudi Real Estate Co. (Al Akaria) signed a SAR 192 million contract with Rezaik Algedrawy for Contracting Co. for the construction of the residential complex Fai Sedra 1 in Riyadh's Sedra district -
                            </div>
                        </div>
                    </div>

                    <div class="home-stories-card">
                        <div class="home-stories-card__image">
                            <img src="img/logo.png" alt="logo">
                        </div>
                        <div class="home-stories-card__text">
                            <div>
                                <span class="home-stories-card__text-date">23.12.2023</span>
                            </div>
                            <div class="home-stories-card__text-title"><a href="#">
                                MODON on track to maximize returns from gov’t procurements: Alkhorayef
                            </a></div>
                            <div class="home-stories-card__text-description">
                                Bandar Alkhorayef, Minister of Industry and Mineral Resources and Chairman of the Saudi Authority for Industrial Cities and Technology Zones (MODON), said that industrial cities and various entities
                            </div>
                        </div>
                    </div>

                    <div class="home-stories-card">
                        <div class="home-stories-card__image">
                            <img src="img/logo.png" alt="logo">
                        </div>
                        <div class="home-stories-card__text">
                            <div>
                                <span class="home-stories-card__text-date">23.12.2023</span>
                            </div>
                            <div class="home-stories-card__text-title"><a href="#">
                                Vessel traffic declines by over 40% in Bab Al-Mandab Strait
                            </a></div>
                            <div class="home-stories-card__text-description">
                                The number of tankers passing the Red Sea’s southern end experienced a steep decline amid increased threats of attacks on ships in the area.   Vessel traffic declined by more than
                            </div>
                        </div>
                    </div>

                    <div class="home-stories-card">
                        <div class="home-stories-card__image">
                            <img src="img/logo.png" alt="logo">
                        </div>
                        <div class="home-stories-card__text">
                            <div>
                                <span class="home-stories-card__text-date">23.12.2023</span>
                            </div>
                            <div class="home-stories-card__text-title"><a href="#">
                                REGA approves executive regulations for real estate consultations, analyses
                            </a></div>
                            <div class="home-stories-card__text-description">
                                The Real Estate General Authority's (REGA) board adopted regulatory rules for real estate consultations and analyses, integral to the real estate legislation system.   REGA stated that
                            </div>
                        </div>
                    </div>

                </div>

                <p class="home-popular-title">
                    <a href="#">HIGHLIGHTS</a>
                </p>

                <div class="home-highlights">
                    <div class="row">
                        <div class="col-6">
                            <p>HEALTHCARE</p>
                            <ul>
                                <li><a href="#">Cleveland Clinic Abu Dhabi completes 50 successful deep brain stimulation implants for Parkinson’s treatment</a></li>
                                <li><a href="#">Saudi Researchers Develop New Technology to Diagnose Autism</a></li>
                                <li><a href="#">Nahdi Opens Its Sixth Clinic as Part of the NahdiCare Clinics Expansion Plan to Improve Primary Healthcare in the City of Taif</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <p>TECHNOLOGY & IT</p>
                            <ul>
                                <li><a href="#">HONOR Announces the Launch of the New HONOR X8b</a></li>
                                <li><a href="#">With HONOR 90, you have a real opportunity to give the perfect tech gift this gifting season</a></li>
                                <li><a href="#">Emirates Steel Arkan to utilize IBM ESG software to harness the transformative power of technology</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <p>CULTURE & EDUCATION</p>
                            <ul>
                                <li><a href="#">Ministry of Culture honours the winners of 17th edition of Al Burda Award</a></li>
                                <li><a href="#">The Cultural Development Fund Launches its first non-financial services “Consultation Services”</a></li>
                                <li><a href="#">British Council Expands Access to English Language Education in KSA at Downe House Riyadh School</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <p>ENVIRONMENT & ENERGY</p>
                            <ul>
                                <li><a href="#">Ministry of Energy launches platform to monitor petroleum products movement</a></li>
                                <li><a href="#">ACWA Power signs agreement to develop green hydrogen project in Egypt worth more than $4 billion</a></li>
                                <li><a href="#">Saudi Arabia seeks to provide clean, sustainable energy at competitive price: Minister</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <p>BEAUTY & STYLE</p>
                            <ul>
                                <li><a href="#">"Jazeera Paints" Selects the Best Colors for Bedroom</a></li>
                                <li><a href="#">Deck the halls with REDTAG: Elevate your home this festive season</a></li>
                                <li><a href="#">REDTAG Unveils Spectacular 52% Off National Day Celebration</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <p>CARS & AUTOS</p>
                            <ul>
                                <li><a href="#">EVIQ launches state-of-the-art R&D facility for electric vehicle chargers in the Kingdom</a></li>
                                <li><a href="#">License issuance for public taxis in Riyadh, Madinah, Jeddah, Dammam suspended</a></li>
                                <li><a href="#">Lucid reaches 800 cars assembled in Saudi Arabia: VP</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">

                <p class="home-popular-title">
                    <a href="#">POPULAR NEWS</a>
                </p>

                <div class="home-popular">

                    <div class="home-popular-card">
                        <div class="home-popular-card__image">
                            <img src="img/logo.png" alt="logo">
                        </div>
                        <div class="home-popular-card__text">
                            <div>
                                <span class="home-popular-card__text-date">23.12.2023</span>
                            </div>
                            <div class="home-popular-card__text-title"><a href="#">
                                Deloitte Partners with Fintech Saudi to Launch Makken Program                            
                            </a></div>
                            <div class="home-popular-card__text-description">
                                Deloitte, the leading global professional services firm, is partnering with Fintech Saudi to foster
                            </div>
                        </div>
                    </div>

                    <div class="home-popular-card">
                        <div class="home-popular-card__image">
                            <img src="img/logo.png" alt="logo">
                        </div>
                        <div class="home-popular-card__text">
                            <div>
                                <span class="home-popular-card__text-date">23.12.2023</span>
                            </div>
                            <div class="home-popular-card__text-title"><a href="#">
                                TDF signs SAR 4.35B agreement to finance The Avenues Khobar                            
                            </a></div>
                            <div class="home-popular-card__text-description">
                                The Tourism Development Fund (TDF) signed a finance agreement at a total of SAR 4.35 billion with a
                            </div>
                        </div>
                    </div>

                    <div class="home-popular-card">
                        <div class="home-popular-card__image">
                            <img src="img/logo.png" alt="logo">
                        </div>
                        <div class="home-popular-card__text">
                            <div>
                                <span class="home-popular-card__text-date">23.12.2023</span>
                            </div>
                            <div class="home-popular-card__text-title"><a href="#">
                                His Excellency the Minister of Transport and Logistic Services Launches Region's Cutting-Edge Jet Propulsion Center                            
                            </a></div>
                            <div class="home-popular-card__text-description">
                                His Excellency Engr. Saleh Al-Jasser, the Minister of Transport and Logistic Services and Chairman
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-2">
                <div class="home-banner">
                    <div class="home-banner-card">
                        <img src="img/logo.png" alt="logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>