    <main>

        <div class="container">

            <div class="header-search">
                <div class="row">
                    <div class="col-lg-3 col-12">
                        <a href="#">SUBMIT YOUR PRESS RELEASE</a>
                    </div>
                    <div class="col-lg-6 col-12">
                        <form action="search.php" method="post">
                            <input type="text" placeholder="Search keyword here">
                            <select name="categories" id="categories" title="All categories">
                                <option value="1">All categories</option>
                            </select>
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-12">
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="news">
                                <div class="news-card">
                                    <div class="news-card__image">
                                        <a href="#"><img src="img/news/1.jpeg" alt="1"></a>
                                    </div>
                                    <div class="news-card__text">
                                        <div>
                                            <span class="news-card__text-date">19.12.2023</span>
                                        </div>
                                        <div class="news-card__text-title"><a href="#">Experience the True Winter Getaway in Dubai with Aspen Magic at Kempinski Hotel Mall of the Emirates</a></div>
                                        <div class="news-card__text-description">
                                            Kempinski Hotel Mall of the Emirates establishes itself as the premier destination for discerning travelers seeking a five-star luxury experience in the heart of Dubai. With its prime location and unparalleled amenities, the hotel offers a luxurious retreat and easy access to Dubai's top...</div>
                                        
                                    </div>
                                </div>
                                
                                <div class="news-card">
                                    <div class="news-card__image">
                                        <a href="#"><img src="img/news/1.jpeg" alt="1"></a>
                                    </div>
                                    <div class="news-card__text">
                                        <div>
                                            <span class="news-card__text-date">19.12.2023</span>
                                        </div>
                                        <div class="news-card__text-title"><a href="#">Experience the True Winter Getaway in Dubai with Aspen Magic at Kempinski Hotel Mall of the Emirates</a></div>
                                        <div class="news-card__text-description">
                                            Kempinski Hotel Mall of the Emirates establishes itself as the premier destination for discerning travelers seeking a five-star luxury experience in the heart of Dubai. With its prime location and unparalleled amenities, the hotel offers a luxurious retreat and easy access to Dubai's top...</div>
                                        
                                    </div>
                                </div>
                                
                                <div class="news-card">
                                    <div class="news-card__image">
                                        <a href="#"><img src="img/news/1.jpeg" alt="1"></a>
                                    </div>
                                    <div class="news-card__text">
                                        <div>
                                            
                                            <span class="news-card__text-date">19.12.2023</span>
                                        </div>
                                        <div class="news-card__text-title"><a href="#">Experience the True Winter Getaway in Dubai with Aspen Magic at Kempinski Hotel Mall of the Emirates</a></div>
                                        <div class="news-card__text-description">
                                            Kempinski Hotel Mall of the Emirates establishes itself as the premier destination for discerning travelers seeking a five-star luxury experience in the heart of Dubai. With its prime location and unparalleled amenities, the hotel offers a luxurious retreat and easy access to Dubai's top...</div>
                                        
                                    </div>
                                </div>
                                
                                <div class="news-card">
                                    <div class="news-card__image">
                                        <a href="#"><img src="img/news/1.jpeg" alt="1"></a>
                                    </div>
                                    <div class="news-card__text">
                                        <div>
                                            
                                            <span class="news-card__text-date">19.12.2023</span>
                                        </div>
                                        <div class="news-card__text-title"><a href="#">Experience the True Winter Getaway in Dubai with Aspen Magic at Kempinski Hotel Mall of the Emirates</a></div>
                                        <div class="news-card__text-description">
                                            Kempinski Hotel Mall of the Emirates establishes itself as the premier destination for discerning travelers seeking a five-star luxury experience in the heart of Dubai. With its prime location and unparalleled amenities, the hotel offers a luxurious retreat and easy access to Dubai's top...</div>
                                        
                                    </div>
                                </div>
                                
                                <div class="news-card">
                                    <div class="news-card__image">
                                        <a href="#"><img src="img/news/1.jpeg" alt="1"></a>
                                    </div>
                                    <div class="news-card__text">
                                        <div>
                                            
                                            <span class="news-card__text-date">19.12.2023</span>
                                        </div>
                                        <div class="news-card__text-title"><a href="#">Experience the True Winter Getaway in Dubai with Aspen Magic at Kempinski Hotel Mall of the Emirates</a></div>
                                        <div class="news-card__text-description">
                                            Kempinski Hotel Mall of the Emirates establishes itself as the premier destination for discerning travelers seeking a five-star luxury experience in the heart of Dubai. With its prime location and unparalleled amenities, the hotel offers a luxurious retreat and easy access to Dubai's top...</div>
                                        
                                    </div>
                                </div>
                                
                                <div class="news-card">
                                    <div class="news-card__image">
                                        <a href="#"><img src="img/news/1.jpeg" alt="1"></a>
                                    </div>
                                    <div class="news-card__text">
                                        <div>
                                            
                                            <span class="news-card__text-date">19.12.2023</span>
                                        </div>
                                        <div class="news-card__text-title"><a href="#">Experience the True Winter Getaway in Dubai with Aspen Magic at Kempinski Hotel Mall of the Emirates</a></div>
                                        <div class="news-card__text-description">
                                            Kempinski Hotel Mall of the Emirates establishes itself as the premier destination for discerning travelers seeking a five-star luxury experience in the heart of Dubai. With its prime location and unparalleled amenities, the hotel offers a luxurious retreat and easy access to Dubai's top...</div>
                                        
                                    </div>
                                </div>
                                
                                <div class="news-card">
                                    <div class="news-card__image">
                                        <a href="#"><img src="img/news/1.jpeg" alt="1"></a>
                                    </div>
                                    <div class="news-card__text">
                                        <div>
                                            
                                            <span class="news-card__text-date">19.12.2023</span>
                                        </div>
                                        <div class="news-card__text-title"><a href="#">Experience the True Winter Getaway in Dubai with Aspen Magic at Kempinski Hotel Mall of the Emirates</a></div>
                                        <div class="news-card__text-description">
                                            Kempinski Hotel Mall of the Emirates establishes itself as the premier destination for discerning travelers seeking a five-star luxury experience in the heart of Dubai. With its prime location and unparalleled amenities, the hotel offers a luxurious retreat and easy access to Dubai's top...</div>
                                        
                                    </div>
                                </div>
                                
                                <div class="news-card">
                                    <div class="news-card__image">
                                        <a href="#"><img src="img/news/1.jpeg" alt="1"></a>
                                    </div>
                                    <div class="news-card__text">
                                        <div>
                                            
                                            <span class="news-card__text-date">19.12.2023</span>
                                        </div>
                                        <div class="news-card__text-title"><a href="#">Experience the True Winter Getaway in Dubai with Aspen Magic at Kempinski Hotel Mall of the Emirates</a></div>
                                        <div class="news-card__text-description">
                                            Kempinski Hotel Mall of the Emirates establishes itself as the premier destination for discerning travelers seeking a five-star luxury experience in the heart of Dubai. With its prime location and unparalleled amenities, the hotel offers a luxurious retreat and easy access to Dubai's top...</div>
                                        
                                    </div>
                                </div>
                                
                                <div class="news-card">
                                    <div class="news-card__image">
                                        <a href="#"><img src="img/news/1.jpeg" alt="1"></a>
                                    </div>
                                    <div class="news-card__text">
                                        <div>
                                            
                                            <span class="news-card__text-date">19.12.2023</span>
                                        </div>
                                        <div class="news-card__text-title"><a href="#">Experience the True Winter Getaway in Dubai with Aspen Magic at Kempinski Hotel Mall of the Emirates</a></div>
                                        <div class="news-card__text-description">
                                            Kempinski Hotel Mall of the Emirates establishes itself as the premier destination for discerning travelers seeking a five-star luxury experience in the heart of Dubai. With its prime location and unparalleled amenities, the hotel offers a luxurious retreat and easy access to Dubai's top...</div>
                                        
                                    </div>
                                </div>
                                
                                <div class="news-card">
                                    <div class="news-card__image">
                                        <a href="#"><img src="img/news/1.jpeg" alt="1"></a>
                                    </div>
                                    <div class="news-card__text">
                                        <div>
                                            
                                            <span class="news-card__text-date">19.12.2023</span>
                                        </div>
                                        <div class="news-card__text-title"><a href="#">Experience the True Winter Getaway in Dubai with Aspen Magic at Kempinski Hotel Mall of the Emirates</a></div>
                                        <div class="news-card__text-description">
                                            Kempinski Hotel Mall of the Emirates establishes itself as the premier destination for discerning travelers seeking a five-star luxury experience in the heart of Dubai. With its prime location and unparalleled amenities, the hotel offers a luxurious retreat and easy access to Dubai's top...</div>
                                        
                                    </div>
                                </div>
                                
                            </div>

                            <div class="pagination">
                                <span class="inactive">« Previous</span>
                                <a href="#" class="current">1</a>
                                <a href="#" class="paginate">2</a>
                                <a href="#" class="paginate">3</a>
                                <a href="#" class="paginate">Next »</a>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-lg-4 col-12">
                    <div class="body-side">
                        <div class="body-side-header">
                            <a href="#">Add to redsearabia.com</a>
                        </div>
                        <div class="body-side-main">
                            <ul>
                                <li><a href="#">Add Breaking News</a></li>
                                <li><a href="#">Add Upcoming Event</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="body-side">
                        <div class="body-side-header">
                            <a href="#">Services</a>
                        </div>
                        <div class="body-side-main">
                            <ul>
                                <li><a href="#">View all services</a></li>
                                <li><a href="#">Main Sponsor</a></li>
                                <li><a href="#">Page Section Sponsor</a></li>
                                <li><a href="#">Online Banners</a></li>
                                <li><a href="#">Content writing services</a></li>
                                <li><a href="#">Search Engine Optimization (SEO)</a></li>
                                <li><a href="#">Press Releases</a></li>
                                <li><a href="#">Hotel & Restaurant Reviews</a></li>
                                <li><a href="#">Website Design & Development</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
     
        </div>

    </main>
