    <main>

        <div class="container">

            <div class="header-search">
                <div class="row">
                    <div class="col-3">
                        <a href="#">SUBMIT YOUR PRESS RELEASE</a>
                    </div>
                    <div class="col-6">
                        <form action="search.php" method="post">
                            <input type="text" placeholder="Search keyword here">
                            <select name="categories" id="categories" title="All categories">
                                <option value="1">All categories</option>
                            </select>
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    
                    <div class="row">
                        <div class="col-12">
                            <div class="news">
                                <div class="news-card">
                                    <div class="news-card__image">
                                        <a href="#"><img src="img/news/1.jpeg" alt="1"></a>
                                    </div>
                                    <div class="news-card__text">
                                        <div>
                                            <span class="news-card__text-category"><a href="#">Business & Money</a></span>
                                            <span class="news-card__text-date">Tuesday 19 December, 2023 3:32 pm</span>
                                        </div>
                                        <div class="news-card__text-title"><a href="#">Experience the True Winter Getaway in Dubai with Aspen Magic at Kempinski Hotel Mall of the Emirates</a></div>
                                        <div class="news-card__text-description">
                                            Kempinski Hotel Mall of the Emirates establishes itself as the premier destination for discerning travelers seeking a five-star luxury experience in the heart of Dubai. With its prime location and unparalleled amenities, the hotel offers a luxurious retreat and easy access to Dubai's top...</div>
                                        <div class="news-card__text-more"><a href="#">Learn more</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="pagination">
                                <span class="inactive">« Previous</span>
                                <a href="#" class="current">1</a>
                                <a href="#" class="paginate">2</a>
                                <a href="#" class="paginate">3</a>
                                <a href="#" class="paginate">Next »</a>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="col-4">
                    <div class="body-side">
                        <div class="body-side-header">
                            <a href="#">OUR SERVICES</a>
                        </div>
                        <div class="body-side-footer">
                            <select name="services" id="services" title="services">
                                <option value="1">View all services</option>
                                <option value="2">Main Sponsor</option>
                                <option value="1">Page Section Sponsor</option>
                                <option value="1">Online Banners</option>
                                <option value="1">Content writing services</option>
                                <option value="1">Search Engine Optimization (SEO)</option>
                                <option value="1">Press Releases</option>
                                <option value="1">Hotel & Restaurant Reviews</option>
                                <option value="1">Website Design & Development</option>
                            </select>
                        </div>
                    </div>
                    <div class="body-side">
                        <div class="body-side-header">
                            <a href="#">ADD TO EYE OF REDSEARABIA.COM</a>
                        </div>
                        <div class="body-side-main">
                            <ul>
                                <li><a href="#">Add Breaking News</a></li>
                                <li><a href="#">Add Company Initiative</a></li>
                                <li><a href="#">Add Upcoming Event</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
     
        </div>

    </main>
