<main>

    <div class="container">

        <div class="header-search">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <a href="#">SUBMIT YOUR PRESS RELEASE</a>
                </div>
                <div class="col-lg-6 col-12">
                    <form action="search.php" method="post">
                        <input type="text" placeholder="Search keyword here">
                        <select name="categories" id="categories" title="All categories">
                            <option value="1">All categories</option>
                        </select>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-12">
                
                <div class="row">
                    <div class="col-12">
                        <div class="news">

                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/trojena/1.jpg" alt="1"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            14.11.2023
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        Technical evaluation process for Trojena dams has been completed.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        Trojena is negotiating the commercial aspects of the dam structures used to create the central lake at Trojena and will select one contractor from Saudi Arabia-based Al-Ayuni, Turkiye-headquartered Limak, Beijing-based PowerChina and Italy’s WeBuild. The contract is expected to last 26-month contract and be valued at approximatey 2 billion USD.
                                    </div>
                                </div>
                            </div>

                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/trojena/2.jpg" alt="2"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            13.11.2023
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        Trojena developing infrastructure for sustainable snow production.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        Approximately 75 percent of the slopes will be covered with machine-made snow, created in the “most sustainable way possible by using only water and air as ingredients. No chemical additives will be used in Trojena’s snow production. In terms of skiing, all energy used will be from renewable sources, with the water coming from zero discharge desalination plants. melted water from the snow production will be recycled.
                                    </div>
                                </div>
                            </div>

                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/trojena/3.jpg" alt="3"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            01.11.2023
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        Trojena's  'The Vault' tenders are out and construction has started.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        Workers have started construction on the gateway to Trojena vertical village - The Vault, constructed within the mountain with a fusion of technology, residential, entertainment and hospitality facilities.
                                    </div>
                                </div>
                            </div>

                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/trojena/4.jpg" alt="4"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            25.09.2023
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        Zaha Hadid Architects designs crystalline tower for Trojena.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        Zaha Hadid Architects has planned the symbol of Trojena, a crystalline, 330-meter-tall skyscraper overlooking the artificial lake to accommodate retail outlets, restaurants, exhibition spaces, and observation decks at varying heights, connected by cable car to the lakeside development. Trojena will offer skiing from December to March on 36 kilometers of ski slopes as well as an arena for adventure sports.
                                    </div>
                                </div>
                            </div>

                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/trojena/5.jpg" alt="5"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            09.08.2023
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        Minor Hotels to open an Anantara branded property in Trojena.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        The 270-key Anantara resort, in the Water Village on the man-made lake in Trojena, will offer guest rooms and suites with lake or mountain views, two specialty restaurants, the Anantara Spa and infinity pool with mountain and lake views, outdoor cinema, a kids’ clubs. Guests can experience camel and horse riding, and guided walks around the area.
                                    </div>
                                </div>
                            </div>

                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/trojena/6.jpg" alt="6"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            08.08.2023
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        Marriott International to open two luxury hotels in Trojena, Saudi Arabia’s first W Hotel, and a JW Marriott property.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        The W Hotel in Trojena is anticipated to feature 236 guest rooms, including 47 suites, with views of the mountains and a freshwater lake. The JW Marriott Hotel in Trojena will be a haven for luxury travelers who seek an ultra-premium escape paired with exceptional service and well-being experiences. The property will be situated in The Bow, and will feature 500 luxury rooms and suites.
                                    </div>
                                </div>
                            </div>

                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/trojena/7.jpg" alt="7"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            23.02.2023
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        Trojena inks partnership agreement with Collective Retreats.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        Collective Retreats, a pioneer in outdoor experiential hospitality, will open an ultra- sustainable retreat in Trojena, featuring 60 open-air guest rooms and innovative meeting space concepts. Collective Trojena will also offer direct access to skiing and snowboarding, high altitude training, paragliding, mountain biking, hiking, and water sports as well as culture-forward programming around film, art, music, and food.
                                    </div>
                                </div>
                            </div>

                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/trojena/8.jpg" alt="8"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            12.01.2023
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        The Chedi Trojena to open in 2026.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        The Chedi Trojena will offer guests a range of experiences inspired by Trojena’s six distinctive districts: Gateway, Discover, Valley, Explore, Relax, and Fun. Located in the Relax district, the hotel will offer culinary, sports, health and wellness, and restorative and meditative activities, all with stunning views of the Lake of Trojena. The hotel’s design blends the region’s rich history with futuristic architecture, creating a luxurious sanctuary for guests.
                                    </div>
                                </div>
                            </div>

                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/trojena/9.jpg" alt="9"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            18.10.2022
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        Trojena teams up with Ennismore to develop 25-hour Hotels and Morgans Originals.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        The iconic lifestyle brands will open properties set against the backdrop of spectacular mountain views and a man-made lake.
                                    </div>
                                </div>
                            </div>

                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/trojena/10.jpg" alt="10"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            05.10.2022
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        Trojena set to host of the 2029 Asian Winter Games.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        Trojena was elected as the host city at the 41st OCA General Assembly on 4 October 2022 in Phnom Penh, Cambodia. This will be the first Asian Winter Games held in Saudi Arabia, as well as in Arabian Peninsula. It will also be the first winter sporting event held in an Arabic-speaking country.
                                    </div>
                                </div>
                            </div>

                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/trojena/11.jpg" alt="11"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            01.10.2022
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        Trojena set to become Saudi Arabia’s first all-year mountain resort.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        Trojena is located in the Sarawat Mountains with altitudes ranging from 1500 to 2600 m altitude, 50km from the Red Sea and close to the Jordanian border. Snow falls nearly every year in Trojena but almost all snow will be manmade. By 2030, the mountain resort is expecting to attract 700,000 visitors and 7,000 permanent residents to live within the projects and adjacent residential districts. Trojena is expected to be completed and to welcome visitors and new residents in late 2026.
                                    </div>
                                </div>
                            </div>

                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/trojena/11.jpg" alt="11"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            01.09.2022
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        What makes Trojena special.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        Cooler than the rest of the Arabian peninsula. 36km planned ski slopes, 3 months of winter skiing. 100+ indoor and outdoor activities. 3,000 seat mountainside amphitheater. 1,400km² almost virgin mountainous region
                                        10,000 jobs by 2030. 700,000 tourists a year by 2030. 42,000m² of retail and dining outlet space. 3,620+ hotel rooms and serviced apartments.
                                    </div>
                                </div>
                            </div>

                            <div class="news-card">
                                <div class="news-card__image">
                                    <a href="#"><img src="img/news/trojena/11.jpg" alt="11"></a>
                                </div>
                                <div class="news-card__text">
                                    <div>
                                        <span class="news-card__text-date">
                                            01.09.2023
                                        </span>
                                    </div>
                                    <div class="news-card__text-title"><a href="#">
                                        Own a home in Trojena.
                                    </a></div>
                                    <div class="news-card__text-description">
                                        Trojena will showcase the next generation of luxury living, with a limited and exclusive offering of apartments, chalets, mansions and ultra-luxury mansions that boast unparalleled privacy, inspirational architecture and a seamless journey with nature. Conveniently located 50km from the Gulf of Aqaba, in a destination of breathtaking natural beauty, life in Trojena will provide exhilarating adventure and entertainment for residents and visitors.
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <!-- <div class="pagination">
                            <span class="inactive">« Previous</span>
                            <a href="#" class="current">1</a>
                            <a href="#" class="paginate">2</a>
                            <a href="#" class="paginate">3</a>
                            <a href="#" class="paginate">Next »</a>
                        </div> -->
                    </div>
                </div>
                
            </div>

            <div class="col-lg-4 col-12">
                <div class="body-side">
                    <div class="body-side-header">
                        <a href="#">Add to redsearabia.com</a>
                    </div>
                    <div class="body-side-main">
                        <ul>
                            <li><a href="#">Add Breaking News</a></li>
                            <li><a href="#">Add Upcoming Event</a></li>
                        </ul>
                    </div>
                </div>
                <div class="body-side">
                    <div class="body-side-header">
                        <a href="#">Services</a>
                    </div>
                    <div class="body-side-main">
                        <ul>
                            <li><a href="#">View all services</a></li>
                            <li><a href="#">Main Sponsor</a></li>
                            <li><a href="#">Page Section Sponsor</a></li>
                            <li><a href="#">Online Banners</a></li>
                            <li><a href="#">Content writing services</a></li>
                            <li><a href="#">Search Engine Optimization (SEO)</a></li>
                            <li><a href="#">Press Releases</a></li>
                            <li><a href="#">Hotel & Restaurant Reviews</a></li>
                            <li><a href="#">Website Design & Development</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
 
    </div>

</main>
