:root {
    --main-bg-color: #c1aa50;
    --second-bg-color: #f1f1f1;
    --side-bg-color: #292929;
    --test-1: #c17250;
    --test-2: #c18e50;
    --test-3: #c17250;
    --test-4: #a87b67;
    --bg-color: #f0eae3;
    --line: 18px;
}

html { 
    width: 100%; 
    height: 100%; 
}

* { 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    padding: 0; 
    margin: 0; 
}

body { 
    width: 100%; 
    height: 100%; 
    background: #fff; 
    font-family: tahoma;
}

a {
    text-decoration: none;
}

a:hover, a:not([href]) {
    text-decoration: underline;
}

header {
    padding-bottom: 1em;
    background: var(--bg-color);
}

main {
    background: var(--bg-color);
    padding-bottom: 2em;
}

.header-logo {
    max-width: 220px;
    border: 1px solid var(--main-bg-color);
    margin: 1em 0;
}

.header-logo img {
    width: 100%;
    height: 100%;
}

.footer-logo {
    max-width: 220px;
    border: 1px solid var(--main-bg-color);
    margin: 1em 0;
}

.footer-logo img {
    width: 100%;
    height: 100%;
}

.header-top {
    background: var(--second-bg-color);
    color: #000;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 0;
    line-height: var(--line);
}

.header-top .high-link {
    color: var(--main-bg-color);
}

.header-top ul {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.header-top li {
    margin-right: 2em;
}

.header-top a {
    color: #000;
    font-weight: bold;
}

.header-top-login {
    display: flex;
    height: 100%;
    align-items: center;
}

.header-top .socials {
    justify-content: right;
}

.socials {
    display: flex;
    list-style: none;
}

.socials li {
    margin-right: .5em;
}

.socials img {
    height: auto;
    width: 28px;
}

.socials a {
    color: var(--side-bg-color);
    font-size: 21px;
    padding: 5px;
}

.footer-socials .socials a {
    color: #fff;
}

.socials a:hover {
    color: var(--main-bg-color);
}

.h1 {
    border-bottom: 4px solid var(--main-bg-color);
    padding-left: 15px;
    margin-bottom: 10px;
}
.h1 h1 {
    color: #010101;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0;
    margin: 0.67em 0;
    font-weight: 500;
}

.nav-menu {
    background: var(--bg-color);
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.nav-side {
    height: 100%;
}

.nav-side ul {
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
}

.nav-side li {
    padding-right: 15px;
}

.navigation {
    color: #4a4a4a;
}

.navigation ul {
    list-style: none;
    display: flex;
}

.navigation li {
    line-height: 30px;
    border-right: 1px solid #fff;
    float: left;
    margin: 0;
}
.navigation li.active a {
    background-color: var(--main-bg-color);
    color: #fff;
}

.navigation a {
    line-height: 40px;
    color: black;
    width: 100%;
    height: 100%;
    padding: 12px 8px;
}

.navigation a:hover {
    color: #fff!important;
    background-color: var(--main-bg-color);
}

.breadcrumb {
    background: var(--main-bg-color);
    font-size: 13px;
    color: #4a4a4a;
    text-transform: uppercase;
    list-style: none;
    display: flex;
}

.breadcrumb a {
    font-size: 13px;
    color: #4a4a4a;
}

.breadcrumb li {
    padding: 12px 8px;
}
.breadcrumb li:first-child {
    margin-left: 15px;
}
.breadcrumb li:not(:first-child):before {
    display: inline-block;
    padding-right: 20px;
    padding-left: 0.5rem;
    color: #6c757d;
    content: ">";
}

.title-header {
    font-size: 13px;
    background: var(--main-bg-color);
    color: #fff;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
}

.body-header a {
    color: var(--main-bg-color);
}

.body-header img {
    width: 100%;
}

.body-header p {
    font-size: 13px;
    margin-bottom: 15px;
    padding: 0 15px;
    line-height: var(--line);
}

.body-header b {
    color: var(--main-bg-color);
}

.body-list {
    padding: 15px;
    list-style: none;
}

.body-list li {
    line-height: var(--line);
    margin-left: 10px;
    font-size: 13px;
}
.body-list li:before {
    content: "- ";
    text-indent: -5px;
}

.body-list p {
    margin-bottom: 25px;
    font-size: 13px;
    line-height: var(--line);
}

.body-footer {
    margin-top: 1em;
    font-size: 13px;
}

.body-footer ul {
    list-style: none;
    display: flex;
}

.body-footer li {
    margin-left: 15px;
    width: 50px;
}

.body-footer span {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.body-footer img {
    display: block;
    margin: 0 auto;
}

.body-footer a {
    color: #010101;
    font-weight: bold;
}

.body-footer i {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #666;
    font-style: unset;
}

.body-footer b {
    color: #000;
    padding: 0 15px;
}

.body-side {
    font-size: 14px;
}

.body-side-header {
    color: #fff;
    background-color: var(--test-3);
    border-bottom: 4px solid var(--main-bg-color);
    padding: 5px 15px;
}

.body-side-header a {
    color: #fff;
}

.body-side-main ul {
    list-style: none;
}

.body-side-main li {
    margin: 0 15px;
    padding: 10px;
    border-bottom: 1px solid #D9D9D9;
}

.body-side-main a {
    font-size: 13px;
    color: var(--side-bg-color);
}

footer {
    font-size: 12px;
    background: var(--side-bg-color);
}

.footer-row {
    padding-top: 2em;
}

.footer-list a {
    color: #fff;
}

.footer-list ul {
    font-weight: bold;
    list-style: none;
}

.footer-list li {
    margin-left: 10px;
    line-height: 20px;
    line-height: var(--line);
}

.footer-list-header {
    color: #fff;
    padding-bottom: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--main-bg-color);
}

.footer-list-header a {
    color: #fff;
}

.footer-link {
    margin-bottom: 2em;
}

.footer-link .high-link {
    color: var(--main-bg-color);
    font-weight: bold;
}

.tab-pane {
    display: none;
    font-size: 12px;
    color: #fff;
    background: var(--main-bg-color);
    width: 100%;
    padding: 10px 0;
    font-weight: 500;
}

.tab-pane.active {
    display: block;
}

.tab-pane ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
}

.tab-pane li {
    padding: 0;
}

.tab-pane li:first-child {
    margin-left: 15px;
}

.tab-pane li:not(:first-child):before {
    display: inline-block;
    padding-right: 10px;
    padding-left: 0.5rem;
    color: #fff;
    content: "|";
}

.tab-pane a {
    color: #fff;
}

.slick-custom img {
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
}

.slick-prev:before {
    color: black!important;
}
  
.slick-next:before {
    color: black!important;
}

@media (max-width: 1200px) and (min-width: 992px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {

    .header-top ul {
        display: block;
    }
    .header-top ul li {
        text-align: center;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
    }
    .header-top-login {
        justify-content: center;
    }

    .header-top .socials {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 15px;
    }
    .header-top .socials li {
        margin-right: 15px;
    }

    .navigation ul {
        display: block;
    }
    .navigation li {
        display: block;
        width: 100%;
        text-align: center;
    }
    .nav-side ul {
        display: block;
    } 
    .nav-side li {
        display: block;
        width: 100%;
        text-align: center;
        padding: 12px 8px;
    }
}